fastapi==0.142.2
uvicorn[standard]
pymysql
cryptography<48
sshtunnel
paramiko==3.4.0
sqlalchemy==2.1.3
python-dotenv
authlib
httpx
redis
itsdangerous
psycopg2-binary
requests
openpyxl
pydantic==2.13.5
